
.img1 aos-init{
	    transition: all 0.3s ease;
}
	


.curved-div {
  position: relative;
  background: #3b6bf0;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: #fff;
}
.curved-div h1 {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top:0rem;
}
.curved-div p {
  font-size: 1rem;
  margin:0 5rem 0rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*////-----------style---------------////////*/


/*////-----------Image skew---------------////////*/
.img-skew:hover{
  -webkit-transform:skew(-200deg);
  -moz-transform:skew(-200deg);
  transform:skew(-200deg);
}

.img-started{
  max-width: 500px;
  max-height: 600px;
}

.images-try img{
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;

}

#tryitfree #tryhead{
	margin-top:10;
	padding-top:10;
  font-size: 40px;
  font-weight: bold;
  font-family:times new roman;
	color:#001c99;
}

#tryitfree p{
	 font-family:times new roman;
  font-size: 30px;
  color:#001c99;
}

.right-side{
  text-align: left;
}

.try-button{
  margin-top: 20px;
  background-color:#ffcc00;
  padding: 8px;
  border-color:yellow;
  padding-left: 15px;
  padding-right: 15px;
}
.try-button:hover{
  background-color:brown;
  border-color:yellow;
}
#gtco-footer{
background-color:black;}
.curved-div.upper {
background:white;}


.curved-div {
  position: relative;
  background: #3b6bf0;
  color: red;
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
#tryitfree p{
  font-size: 18px;
  color:white;
}
.box {
	border-radius: 150px;
	background:#fff;
	position:relative;
	overflow: hidden;
	text-align:center;
}
.box:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 150px;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.30);
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #3c70a4 0%, #64b2cd 100%);
}
.box:hover:before {
    width: 100%;
}
.box:hover .image-wrapper {
	padding:0;
}
.box:hover .box-desc {
	color:#fff;
}
.box:hover .social li a {
	background:#fff;
	background-image: none;
	color:#000;
}
.box:hover .social li a:hover {
	background:#1d1d1d;
	color:#fff;
}
.image-wrapper {
    position: relative;
	max-width: 210px;
    max-height: 210px;
	margin:0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
}
.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}
.box-desc {
	position:relative;
}
ul.social {
	padding:0;
}
ul.social li {
	display:inline-block;
	list-style-type:none;
}
ul.social li a {
	position:relative;
	width: 36px;
    height: 36px;
	background-image: linear-gradient(to right, #3c70a4 0%, #64b2cd 100%);
	display:inline-block;
	line-height:36px;
	border-radius:50%;
	color:#fff;
	transition: all .5s ease;
}

.logo{
		margin-left:0px;
	margin-top:1px;
	margin-bottom:2px;
	padding-top:1px;
	padding-bottom:5px;
    
}
.buton{
	margin-left:0px;
	margin-top:3px;
	margin-bottom:3px;
	padding-top:1px;
	padding-bottom:5px;
	
}
.header {
  position: relative;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.inner-header {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
}
.header2 {font-size: 3em;color: #262c38;letter-spacing: 1px;position: relative;font-weight: 600;text-align: center;}
.wt p {font-size: 15px;text-align: center;margin: 20px auto;width: 60%;color: #5e5e5e;line-height: 1.8em;}
.header2:after {border-top: 2px solid #0036e9;display: block;width: 81px;content: "";margin: 8px auto 0;}


.try{
	margin-top:60px;
	margin-bottom:45px;
	padding-top:10px;
	padding-bottom:15px;
}
.subhead{
	color:brown;
	font-family:palatino;
	font-size:30px;
	margin-top:15px;
	margin-bottom:5px;
	padding-top:20px;
	padding-bottom:15px;
    
	
}
@media (max-width:520px) {
	.head{
		font-size:45px;
	}
}
	
.head{
	font-size:60x;
	font-family:times new roman;
	color:#001c99;
	padding-bottom:35;
	padding-top:5;
	margin-top:5;
}

.testimonials{
	position: relative;
	padding-top:50px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;

	}
}
span{
	color:red;
}
.team{
	text-align: center;
			padding: 5px;
			margin-bottom:5px;
			font-family:italics;
			font-size:62px;
	
}

#customers-testimonials {
	.item-details{
		background-color:blue;
		color: white;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 22px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}
}

.nav-link:active{
	color:grey;
}
.nav-link:hover{
color:yellow;}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}#vsheading .item {
  height: auto;
  position: relative;
  text-align: center;
}
#vsheading .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#vsheadingr .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
#vsheading .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
#vsheading .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#vsheading .item .cover .header-content h2 {
  font-weight: 300;
  font-family:sans-serif;
  font-size: 40px;
  color:olive;
}
#vsheading .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
   font-family:times new roman;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color:blue ;
}
#vsheading .item .cover .header-content h4 {
	
  font-size: 16px;
 font-family:italics;
  color:grey;
}

blockquote p{
  font-size: 30px;
  text-align: center;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}
.navbar-brand img{
  max-width: 250px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.column {
  float: left!important;
  width: 50%;

}

/* Clear floats after the columns *//*
.row:after {
  content: "";
  display: table;
  clear: both;
}

/***************Table///////////*********/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
}

th, td {
  text-align: center;
  padding: 10px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #EFF5FC
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

th{
  font-weight: 300;
  font-size: 22px;
  color: black;
}
