.logo{
		margin-left:0px;
	margin-top:1px;
	margin-bottom:2px;
	padding-top:1px;
	padding-bottom:5px;
    
}
@media screen and (max-width: 880px) {
  .image{
	border-radius:60%;
}
}
#cont{
	background-color:white;
}
.try{
	margin-top:60px;
	margin-bottom:45px;
	padding-top:10px;
	padding-bottom:15px;
}
.subhead{
	color:brown;
	font-family:palatino;
	font-size:30px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:15px;
    
	
}

	
.head{
	font-size:44px;
	font-family:times new roman;
	color:#001c99;
	padding-bottom:65;
	padding-top:65;
}

.testimonials{
	background-color: #f27f68;
	position: relative;
	padding-top: 80px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	}
}
span{
	color:red;
}
.team{
	text-align: center;
			padding: 20px;
			margin-bottom:80px;
			font-family:italics;
			font-size:62px;
			color:white;
}

#customers-testimonials {
	.item-details{
		background-color:blue;
		color: white;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 22px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: white;
}
.owl-carousel {
  position: relative;
}


